h1{color: #fc03ca;}
body{background: #000000; 
	font-family: "Helvetica"; font-size: : 10pt;
	margin-left: 100pt;}
img {padding-bottom: 50px}
li{font-family: "Gill Sans"; font-size: 14pt}

p{color: #fc03ca}
a{color: #ffffff;}